<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847841328564-ooirk2pj0b5djv82a2ss1m94sk7ee61f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847841328564-ooirk2pj0b5djv82a2ss1m94sk7ee61f</string>
	<key>API_KEY</key>
	<string>AIzaSyCuvF2EdwNztKBEMi17eXwU6ZddLp1GYW4</string>
	<key>GCM_SENDER_ID</key>
	<string>847841328564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appinator.databox</string>
	<key>PROJECT_ID</key>
	<string>databox-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>databox-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847841328564:ios:185f38a82022e3536b86e1</string>
</dict>
</plist>