<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590144599728-qp8sf2g6bmdae2e1gts063m8g71ognu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590144599728-qp8sf2g6bmdae2e1gts063m8g71ognu3</string>
	<key>API_KEY</key>
	<string>AIzaSyDikzN7Ik3HHVA0-axZsHdwujI4X7OU5VA</string>
	<key>GCM_SENDER_ID</key>
	<string>590144599728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appinator.cloudVault</string>
	<key>PROJECT_ID</key>
	<string>cloudvault-f6d92</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudvault-f6d92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590144599728:ios:434e36ac1f9d448b832d75</string>
</dict>
</plist>